# SPDX-License-Identifier: PMPL-1.0
# SPDX-FileCopyrightText: 2025 Jonathan D.A. Jewell
#
# SLSA Level 3 Provenance Generator
# See https://slsa.dev/spec/v0.1/requirements

name: SLSA generic generator
on:
  workflow_dispatch:
  release:
    types: [created]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      digests: ${{ steps.hash.outputs.digests }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Build artifacts
        run: |
            echo "artifact1" > artifact1
            echo "artifact2" > artifact2

      - name: Generate subject for provenance
        id: hash
        run: |
          set -euo pipefail
          files=$(ls artifact*)
          echo "hashes=$(sha256sum $files | base64 -w0)" >> "${GITHUB_OUTPUT}"

  provenance:
    needs: [build]
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
    with:
      base64-subjects: "${{ needs.build.outputs.digests }}"
      upload-assets: true
